replicaCount: 1

image:
  repository: python
  tag: "3.11-slim"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8080

resources:
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 50m
    memory: 64Mi

do:
  pollInterval: 3600
  apiTokenSecret: do-api-token
