replicaCount: 1

image:
  repository: python
  tag: "3.11-slim"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8080

resources:
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 50m
    memory: 64Mi

do:
  pollInterval: 3600
  apiTokenSecret: do-api-token
  apiTokenEncrypted: AgBi0sJ9TjcW/noKTuZ3sKvf7GSlOqrvN6WG5IzbhOk2/Gp2Hghp/ysK8d7n13co07YR+ssUBZI+a3l7+urr+OK7jIAheS3sJXH+8s3ydTXRBlw3wsCOAa0a0P017EVy8xJA55MMVqTYzWNYFOPM7QRII/hEeNdS5o2ohVQxddgw7Qrpf9Mo4UkhXn+aymsotJdIwtKkMEFkkjXEjV91dWQpSXDFIgPPZhasGo2gP+JnfA76NG2T8bYhKoib54GXdpV9mKZEnBDSK25rZs43ZL5VgGwkMywpONY8vaZjQ1YPB8VkjpjPDxI9+CaNTj8vrXCVcKet+PGIbRmv6NiB3x/bvv6Cwh7DV17RGDMqrDKV18cbqsp7k5CVy0WzVXk1AjK/4gxxoCVIxIphZcxMsyaDvrJHoKxAI+GBoz1Vf5kZ3iCUluElYC3Ie4iH/IB7rA5RBjo1h8ocSENKGQ4W1IEipWOFQznWg9K2iVOB/oYF7Lg84NAU2F6MNNA+FYUM1/BiL+gTTlpW1RwVfZTFyVYeedEUpq1FyHWB7FKNIoWyaPN0/G8SxTuHpH5lYnH/H5pQLl7otTzVVawkm4HDB9j4y1yK/5vMD/iJmvzyJN0lWCDZxEVC193RDCb2zxKr/1fsPj+A1UL+XHNxZyw2UyC/bQGMKoZFDG0tcCjGJNi5ZMi2LMS8nNYmpth//AsQq3R0TEgjNTWVEICpZjdODz64/54ShF+ADWzNtiWAYyYJQBuRu9hgfruoPRwjzCYR/994WFOxaH0QsIUbwoTXEAvDtHhAF11UTw==
