# RabbitMQ - Staging Configuration
cluster:
  name: queue
  replicas: 1
  
  image: rabbitmq:4.1.3-management-alpine
  imagePullPolicy: IfNotPresent
  
  service:
    type: ClusterIP
  
  storage:
    storageClass: do-block-storage
    size: 2Gi
  
  # NOTE: RabbitMQ requires memory.requests == memory.limits
  resources:
    requests:
      cpu: 50m
      memory: 128Mi
    limits:
      cpu: 150m
      memory: 128Mi
  
  rabbitmq:
    additionalConfig: |
      disk_free_limit.absolute = 500MB
      vm_memory_high_watermark.relative = 0.6
      channel_max = 512
      heartbeat = 60

ingress:
  enabled: true
  host: queue-staging.duli.one
  clusterIssuer: letsencrypt-prod
