apiVersion: k8s.keycloak.org/v2alpha1
kind: KeycloakRealmImport
metadata:
  name: {{ .Release.Name }}-realm
  namespace: {{ .Release.Namespace }}
spec:
  keycloakCRName: {{ .Release.Name }}
  realm:
    realm: duli
    enabled: true
    clients:
      - clientId: ai-service
        secret: "{{ .Values.clientSecrets.aiService }}"
        redirectUris:
          - "https://ai.duli.ai/*"
