# PostgreSQL Staging Configuration (CloudNativePG)
cluster:
  instances: 1 
  postgresql:
    parameters:
      shared_buffers: "64MB"
      effective_cache_size: "256MB"
      work_mem: "4MB"
      maintenance_work_mem: "32MB"
      random_page_cost: "1.1"
      effective_io_concurrency: "200"
  storage:
    size: 50Gi 
