{{- if eq .Values.redis.mode "Replication" }}
apiVersion: redis.redis.opstreelabs.in/v1beta1
kind: RedisReplication
metadata:
  name: {{ .Values.redis.name }}
  namespace: {{ .Release.Namespace }}
spec:
  clusterSize: {{ .Values.redis.size }}
  
  kubernetesConfig:
    image: {{ .Values.redis.kubernetesConfig.image }}
    imagePullPolicy: {{ .Values.redis.kubernetesConfig.imagePullPolicy }}
    
    # Security context to fix volume permission issues
    podSecurityContext:
      fsGroup: 1000
      runAsUser: 1000
      runAsNonRoot: true
    
    {{- if .Values.redis.kubernetesConfig.resources }}
    resources:
      {{- toYaml .Values.redis.kubernetesConfig.resources | nindent 6 }}
    {{- end }}
    
    {{- if .Values.redis.redisSecret.name }}
    redisSecret:
      name: {{ .Values.redis.redisSecret.name }}
      key: {{ .Values.redis.redisSecret.key | default "password" }}
    {{- end }}
    
    {{- if .Values.redis.service }}
    service:
      {{- if .Values.redis.service.type }}
      type: {{ .Values.redis.service.type }}
      {{- end }}
    {{- end }}
  
  storage:
    volumeClaimTemplate:
      spec:
        {{- if .Values.redis.storage.storageClassName }}
        storageClassName: {{ .Values.redis.storage.storageClassName }}
        {{- end }}
        accessModes:
          - ReadWriteOnce
        resources:
          requests:
            storage: {{ .Values.redis.storage.size }}
{{- end }}
