apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: infrastructure-secrets-{{ target_env }}
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/aalexx-le/duli-infrastructure
    targetRevision: main
    path: helm/secrets
    helm:
      valueFiles:
        - values.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: "{{ target_env }}"
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
