---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: rabbitmq-topology-operator
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/rabbitmq/messaging-topology-operator
    targetRevision: v1.14.0
    path: config/manager
  destination:
    server: https://kubernetes.default.svc
    namespace: rabbitmq-system
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
