apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: redis-instance-{{ target_env }}
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/aalexx-le/duli-infrastructure
    targetRevision: main
    path: helm/redis-instance
    helm:
      valueFiles:
        - values.yaml
        - values-{{ target_env }}.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: "{{ target_env }}"
  ignoreDifferences:
    - group: redis.redis.opstreelabs.in
      kind: RedisReplication
      jsonPointers:
        - /spec/kubernetesConfig/service
        - /spec/kubernetesConfig/updateStrategy
        - /spec/livenessProbe
        - /spec/readinessProbe
        - /spec/storage/volumeClaimTemplate/metadata
        - /spec/storage/volumeClaimTemplate/status
        - /spec/storage/volumeMount
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
