apiVersion: v1
kind: Service
metadata:
  name: do-cost-exporter
  namespace: {{ .Release.Namespace }}
spec:
  type: {{ .Values.service.type }}
  ports:
  - port: {{ .Values.service.port }}
    targetPort: metrics
    name: metrics
  selector:
    app: do-cost-exporter
