# Infrastructure Connection Information - {{ target_namespace | upper }} Environment
# Generated: {{ ansible_date_time.iso8601 }}

[postgresql]
host = {{ postgres_host }}
port = {{ postgres_port }}
{% if postgres_nodeport %}nodeport = {{ postgres_nodeport }}
{% endif %}username = {{ postgres_user }}
password = {{ postgres_pass }}
database = duli_db
connection_url = postgresql://{{ postgres_user }}:{{ postgres_pass }}@{{ postgres_host }}:{{ postgres_port }}/duli_db

[redis]
host = {{ redis_host }}
port = {{ redis_port }}
{% if redis_nodeport %}nodeport = {{ redis_nodeport }}
{% endif %}protocol = redis
connection_url = redis://{{ redis_host }}:{{ redis_port }}

[rabbitmq]
host = {{ rabbitmq_host }}
port = {{ rabbitmq_port }}
management_port = {{ rabbitmq_mgmt_port }}
{% if rabbitmq_nodeport %}nodeport = {{ rabbitmq_nodeport }}
{% endif %}username = {{ rabbitmq_user }}
password = {{ rabbitmq_pass }}
amqp_url = amqp://{{ rabbitmq_user }}:{{ rabbitmq_pass }}@{{ rabbitmq_host }}:{{ rabbitmq_port }}/
management_ui = http://{{ rabbitmq_host }}:{{ rabbitmq_mgmt_port }}

[keycloak]
host = {{ keycloak_host }}
port = {{ keycloak_port }}
{% if keycloak_nodeport %}nodeport = {{ keycloak_nodeport }}
{% endif %}protocol = http
admin_url = http://{{ keycloak_host }}:{{ keycloak_port }}/admin
realm_url = http://{{ keycloak_host }}:{{ keycloak_port }}/realms

[argocd]
host = {{ argocd_host }}
url = https://{{ argocd_host }}

[rancher]
host = {{ rancher_host }}
url = https://{{ rancher_host }}
